@import "./../css/font-awesome.min.css" ;

@font-face {
	font-family: 'ubuntu arabic';
	font-style: normal;
	font-weight: 700;
	src: url('./ubuntub.ttf') format("opentype") , url('./ubuntub.otf') format("otf") ;
}

@font-face {
	font-family: 'ubuntu arabic';
	font-style: normal;
	font-weight: 400;
	src: url('./ubuntur.ttf') format("opentype") , url('./ubuntur.otf') format("otf") ;
}

/* ubuntu arabic bold */
.uab {
	font-family: 'ubuntu arabic' ;
	font-weight: 700 ;	
}

/* ubuntu arabic regular */
.uar {
	font-family: 'ubuntu arabic' ;
	font-weight: 400 ;
}
