<template>
	<div>		
		<columns @rest="rest" @update="fireUpdateData" :table="table" :model="model" ></columns>		
		<table class="table table-bordered table-striped table-condensed flip-content">
			<thead class="flip-content">
				<tr>
					<th> رقم الرسالة </th>
					<th> المرسل </th>
					<th> البريد الاكتروني</th>
					<th> محتوى الرسالة</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="msg in data.data" >
					<td>{{ msg.id }}</td>
					<td><a :href="'/sadmin/externalmsgs/' + msg.id ">{{ msg.name }}</a></td>
					<td>{{ msg.email }}</td>
					<td>{{ msg.content }}</td>					
				</tr>
			</tbody>
		</table>
		<pagination @data="updateData" ref="paginator" :json="json" :model="model" :page="page" ></pagination>
	</div>
</template>

<script>	
	export default {
		mixins:[window.mixin] ,
		data() {
			return {
				model:{
					id:"",
					name:"",
					email:""					
				}
			}
		}
	}
</script>