<template>
	<div>		
		<columns @rest="rest" @update="fireUpdateData" :table="table" :model="model" ></columns>		
		<table class="table table-bordered table-striped table-condensed flip-content">
			<thead class="flip-content">
				<tr>					
					<th>#</th>
					<th>عنوان الرسالة</th>
					<th>اخر رد</th>
					<th>تاريخ الانشاء</th>
					<th>تاريخ اخر رد</th>					
				</tr>
			</thead>
			<tbody>    		
				<tr v-for="group in data.data" >
					<td><span class="label label-primary">{{ group.id }}</span></td>
					<td><a :href="'/sadmin/msgs/' + group.id ">{{ group.title}}</a></td>
					<td>
						{{ group.lastanswer.content }}
					</td>
					<td><span>{{ formatDate(group.created_at)}}</span></td>
					<td><span>{{ formatDate(group.lastanswer.created_at)}}</span></td>					
				</tr>
			</tbody>
		</table>
		<pagination @data="updateData" ref="paginator" :json="json" :model="model" :page="page" ></pagination>
	</div>
</template>

<script>	
	export default {
		mixins:[window.mixin] ,
		data() {
			return {
				model:{
					id:"",
					title:"",
					created_at:""
				}
			}
		}
	}
</script>