<template>
	<div>		
		<columns :hide="hide" @rest="rest" @update="fireUpdateData" :model="model" :table="table" ></columns>
		<table class="table table-bordered table-striped table-condensed flip-content">
			<thead class="flip-content">
				<tr>
					<th> رقم المشترك </th>
					<th> الاسم </th>
					<th>البريد الاكتروني</th>
					<th> رقم الهاتف </th>
					<th> المدينة </th>
					<th> المنطقة </th>
					<th>تاريخ الميلاد</th>
					<th v-if="!hide.follower_id" >المصمم المتابع</th>
				</tr>
			</thead>
			<tbody>    		
				<tr v-for="user in data.data" >
					<td>{{ user.id }}</td>
					<td><a :href="'/sadmin/users/'+user.id+'/edit'">{{ user.name }}</a></td>
					<td>{{ user.email }}</td>
					<td>{{ user.phone }}</td>
					<td>{{ user.city }}</td>
					<td>{{ user.location }}</td>
					<td>{{ user.birthday }}</td>
					<td v-if="!hide.follower_id" >						
						<a v-if="user.follower" :href="'/sadmin/users/'+user.follower.id+'/edit'" class="text-info">{{ user.follower.name }}</a>
						<span v-else class="text-danger">غير متابع</span>					
					</td>
				</tr>
			</tbody>
		</table>
		<pagination @data="updateData" ref="paginator" :json="json" :model="model" :page="page" ></pagination>
	</div>
</template>

<script>	
	export default {
		mixins:[window.mixin] ,
		data() {
			return {
				model:{
					id:"",
					name:"",
					email:"",
					city:"",
					location:"",
					birthday:"",
					phone:"",
					postal:"",
					street:"",
					ngbh:"",
					follower_id:""
				}
			}
		}
	}
</script>