<template>
	<div>		
		<columns @rest="rest" @update="fireUpdateData" :table="table" :model="model" ></columns>		
		<table class="table table-bordered table-striped table-condensed flip-content">
			<thead class="flip-content">
				<tr>
					<th>رقم الاشتراك</th>
					<th>المستخدم</th>
					<th>عدد الأيام الإشتراك</th>
					<th>إنتهاء مدة الإشتراك</th>
					<th>اسم الإشتراك</th>
					<th>الحالة</th>
					<th>صورة تأكيد الدفع</th>
					<th>تاريخ طلب الاشتراك</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="subscribe in data.data" >
					<td><span class="label label-primary">{{ subscribe.id }}</span></td>
					<td>
						<a v-if="subscribe.user" :href="'/sadmin/users/' + subscribe.user.id +'/edit' "><i class="fa fa-fw fa-user"></i> {{ subscribe.user.name }}</a>
						<span v-else class="text-danger">تم حذف العميل</span>
					</td>
					<!-- after Accept -->
					<td v-if="subscribe.activated" >{{ subscribe.days }}</td>
					<td v-if="subscribe.activated" >
						<span v-if="subscribe.ended" class="label label-danger">منتهي</span>
						<span v-else class="label label-success">غير منتهي</span>
					</td>
					<td v-if="subscribe.activated" >
						<span class="label label-default">{{ subscribe.name }}</span>
					</td>
					<td colspan="3" v-else>
						<div class="text-center color-yellow">لم يتم الموافقة بعد على الإشتراك</div>
					</td>
					<!-- End After Accept -->
					<td>
						<span v-if="subscribe.activated && !subscribe.ended" class="font-blue">مفعل</span>
						<span v-else class="font-red">غير مفعل</span>
					</td>
					<td>
						<a v-if="subscribe.file" :href="'/upssubscribe/' + subscribe.file " target="_blank" >
							<img :src="'/upssubscribe/' +subscribe.file " style="max-width: 70px;" />
						</a>
						<span v-else class="text-danger">لا توجد اية صورة</span>
					</td>
					<td>
						<div class="text-center">{{ formatDate(subscribe.created_at) }}</div>
					</td>

				</tr>
			</tbody>
		</table>
		<pagination @data="updateData" ref="paginator" :json="json" :model="model" :page="page" ></pagination>
	</div>
</template>

<script>	
	export default {
		mixins:[window.mixin] ,
		data() {
			return {
				model:{
					id:"",
					user_id:"",
					days:"",
					name:"",
					created_at:""
				}
			}
		}
	}
</script>