<template>
	<div>		
		<columns @rest="rest" @update="fireUpdateData" json="json" :model="model" ></columns>		
		<table class="table table-bordered table-striped table-condensed flip-content">
			<thead class="flip-content">
				<tr>
					<th> رقم المصمم </th>
					<th> الاسم </th>
					<th>البريد الاكتروني</th>
					<th> رقم الهاتف </th>
					<th> المدينة </th>
					<th> المنطقة </th>
					<th>تاريخ الميلاد</th>
				</tr>
			</thead>
			<tbody>    		
				<tr v-for="user in data.data" >
					<td>{{ user.id }}</td>
					<td><a :href="'/sadmin/users/'+user.id+'/edit'">{{ user.name }}</a></td>
					<td>{{ user.email }}</td>
					<td>{{ user.phone }}</td>
					<td>{{ user.city }}</td>
					<td>{{ user.location }}</td>
					<td>{{ user.birthday }}</td>
				</tr>
			</tbody>
		</table>
		<pagination @data="updateData" ref="paginator" :json="json" :model="model" :page="page" ></pagination>
	</div>
</template>

<script>	
	export default {
		mixins:[window.mixin] ,
		data() {
			return {
				model:{
					id:"",
					name:"",
					email:"",
					city:"",
					location:"",
					birthday:"",
					phone:""
				}
			}
		}       
	}
</script>