<template>
	<div>		
		<columns @rest="rest" @update="fireUpdateData" :hide="hide" :model="model" :table="table" ></columns>
		<table class="table table-bordered table-striped table-condensed flip-content">
			<thead class="flip-content">
				<tr>
					<td>رقم المجلة</td>
					<td v-if="!hide.designer_id">المصمم</td>
					<td v-if="!hide.user_id" >العميل</td>
					<td>تاريخ الإضافة</td>
					<td>تاريخ آخر تعديل</td>
				</tr>
			</thead>
			<tbody>				
				<tr v-for="catalog in data.data" >
					<td><a :href="'/sadmin/catalogs/' + catalog.id ">{{ catalog.id }}</a></td>
					<td v-if="!hide.designer_id">						
						<a v-if="catalog.designer" class="font-blue-madison" :href=" '/sadmin/designers/' + catalog.designer_id ">{{ catalog.designer.name }}</a>
						<span v-else class="text-danger">تم حذف المصمم</span>
					</td>
					<td v-if="!hide.user_id" >
						<a v-if="catalog.user" class="font-purple-plum" :href=" '/sadmin/users/' + catalog.user.id ">{{ catalog.user.name }}</a>
						<span v-else class="text-danger">تم حذف العميل</span>
					</td>
					<td>{{ formatDate(catalog.created_at) }}</td>
					<td>{{ formatDate(catalog.updated_at) }}</td>
				</tr>				
			</tbody>
		</table>
		<pagination @data="updateData" ref="paginator" :json="json" :model="model" :page="page" ></pagination>
	</div>
</template>

<script>	
	export default {
		mixins:[window.mixin] ,
		data() {
			return {
				model:{
					id:"",
					created_at:"",
					updated_at:"",
					
					user_id:"",
					designer_id:"",
				}
			}
		}
	}
</script>