<template>
	<div>		
		<columns :hide="hide" @rest="rest" @update="fireUpdateData" :model="model" :table="table" ></columns>		
		<table class="table table-bordered table-striped table-condensed flip-content">
			<thead class="flip-content">
				<tr>
					<th>#</th>
					<th>اسم الحدث</th>
					<th>وصف الحدث</th>
					<th>تاريخ الاضافة</th>
					<th v-if="!hide.user_id" >المشترك</th>
					<th v-if="!hide.designer_id">المصمم</th>
					<th>الحالة</th>
					<th>المجلة</th>
				</tr>
			</thead>
			<tbody>    		
				<tr v-for="event in data.data" >
					<td><span class="label label-primary">{{event.id}}</span></td>
					<td><a :href="'/sadmin/events/' + event.id ">{{event.title}}</a></td>
					<td>{{event.description}}</td>
					<td>{{ formatDate(event.created_at) }}</td>
					<td v-if="!hide.user_id" >
						<a v-if="event.user" :href="'/sadmin/users/' + event.user_id ">{{ event.user.name }}</a>
						<span v-else class="text-danger">تم حذف العميل</span>
					</td>
					<td v-if="!hide.designer_id">
						<div v-if="event.designer_id">
							<a v-if="event.designer" :href="'/sadmin/users/' + event.designer_id + '/edit'">{{ event.designer.name }}</a>
							<span v-else class="text-danger">تم حذف المصمم</span>
						</div>
						<span v-else class="label label-danger">غير متابع بعد</span>
					</td>
					<td>
						<span v-if="event.designed" class="label bg-green">مصمم</span>
						<div v-else>
							<span v-if="event.designer_id" class="label label-default">قيد التنفيد</span>
							<span v-else class="label bg-purple">لم تتم المتابعة بعد</span>
						</div>
					</td>
					<td>
						<a v-if="event.catalog" :href="'/sadmin/catalogs/' + event.catalog_id ">المجلة</a>
						<span v-else class="label bg-purple">لا يوجد</span>
					</td>
				</tr>
			</tbody>
		</table>
		<pagination @data="updateData" ref="paginator" :json="json" :model="model" :page="page" ></pagination>
	</div>
</template>

<script>	
	export default {
		mixins:[window.mixin] ,
		data() {
			return {
				model:{
					id:"",
					title:"",
					description:"",
					user_id:"",
					designer_id:"",
					created_at:""
				}
			}
		}
	}
</script>