<template>
	<div>
		<button v-if="notActive" @click="activate" class="btn btn-activate">فعل</button>
		<span v-else class="is-active">مفعل</span>
	</div>
</template>

<script>
	export default {
		props:["user"],
		data(){
			return {
				notActive:true
			} ;
		},
		mounted(){
			this.$root.$on("activated",function (userId) {
				if(userId==this.user){
					this.notActive = false ;
				}
				$(".modal").modal("hide") ;
			}.bind(this));
		},
		methods : {
			activate(){
				$("#modalActivateAccount").modal("show") ;
				this.$emit("activate-account",this.user) ;
			}
		}
	}
</script>