<template>
	<div class="p-h-1" >
		
		<label>
			<span @click="toggle()" >
				
				<img v-if="changepassword" src="/systemups/ch.png" style="max-width: 20px;" />
				<img v-else src="/systemups/unch.png" style="max-width: 20px;" />


				تغيير كلمة المرور 
			</span>

		</label>

		<div v-if="changepassword" class="clearfix" >
			
			<input type="checkbox" name="changepassword" checked="true" style="display: none;" />

			<div class="col-xs-12 col-md-12 pull-right">
				<div class="form-group">
					<input type="password" class="custom-input-form" name="oldpassword" v-model="oldpassword" placeholder="كلمة المرور الحالية" />
				</div>
			</div>

			<div class="col-xs-12 col-md-6 pull-right">
				<div class="form-group">
					<input type="password" class="custom-input-form" name="password" v-model="password" placeholder="كلمة المرور" />
				</div>
			</div>
			<!-- password confirmation -->
			<div class="col-xs-12 col-md-6 pull-right">
				<div class="form-group">
					<input type="password" class="custom-input-form" name="password_confirmation" v-model="password_confirmation" placeholder="تاكيد كلمة المرور" />
				</div>
			</div>
		</div>

	</div>
</template>

<script>
	export default {
		props:["pchangepassword", "poldpassword", "ppassword", "ppassword_confirmation" ],
		data() {
			return {
				changepassword:false ,
				changepassword:this.pchangepassword,
				oldpassword:this.poldpassword,
				password:this.ppassword,
				password_confirmation:this.ppassword_confirmation
			}
		},
		methods : {
			toggle(){
				this.changepassword = !this.changepassword ;				
			}
		}
	}
</script>