<template>
	<span @click="toggle()" >
		
		<img v-if="c" src="/systemups/ch.png" style="max-width: 20px;" />
		<img v-else src="/systemups/unch.png" style="max-width: 20px;" />
		{{(lbl || "")}}
		<input type="checkbox" :name="name" :checked="c" style="display: none;" >
		
	</span>
</template>

<script>
	export default {
		props:['name','ischecked',"lbl"] ,
		data(){
			return {
				c : null
			}
		},
		mounted(){
			this.c = this.ischecked ;
		},
		methods:{
			toggle(){
				this.c = !this.c ;
			}
		}
	}
</script>
