<template>
	<div class="dropdown-menu-auth button-auth" >
		
		<span class=" btn link-login"  @click="toggleMenu()" dir="ltr" >
			<span v-if="notif" class="notif" >{{ countNotifications }}</span>
			<span class="lbl-username">{{name}}</span>
			<img :src="avatar" class="sml-avatar-in-menu-auth" />			
		</span>

		<div class="menu-auth" :class="{'displayed':displayed}" >
			<div class="in-menu-auth">
				<ul class="list-menu" >

					<li v-if="isDesigner" >
						<a class="link" href="/follow/conversations">
							الرسائل
						</a>
						<span v-if="hasMsgs" class="notif inline-notif" >{{msgsLength}}</span>
					</li>

					<li v-else>
						<a v-if="isAdmin" class="link"  href="/admin/conversations">
							الرسائل
						</a>
						<a v-else class="link" href="/conversations" >
							الرسائل
						</a>
						<span v-if="hasMsgs" class="notif inline-notif" >{{msgsLength}}</span>
					</li>
					
					<li v-if="isDesigner">
						<a v-if="notificationsLength>0" class="link" href="/follow/events/new">الأحداث</a>
						<a v-else class="link" href="/follow/events">الأحداث</a>
						<span v-if="hasNotifications" class="notif inline-notif" >{{notificationsLength}}</span>
					</li>

					<li v-if="isDesigner && result.notes && result.notes.length">
						<a class="link" :href="'/follow/catalogs/'+result.notes[result.notes.length-1].data['catalog_id']">ملاحظات</a>
						<span v-if="result.notes.length" class="notif inline-notif" >{{ result.notes.length }}</span>
					</li>
					<li v-else v-if="isDesigner" >
						<a class="link" href="/follow/notes">ملاحظات</a>
						<span v-if="result.notes && result.notes.length" class="notif inline-notif" >{{ result.notes.length }}</span>
					</li>

					<li v-if="isUser && result.notes && result.notes.length" >
						<a class="link" :href="'/archive/'+ result.notes[result.notes.length -1].data['note_id'] ">ملاحظات</a>
						<span v-if="result.notes && result.notes.length" class="notif inline-notif" >!</span>
					</li>
					
					<li v-else v-if="isUser" >
						<a class="link" href="/archive/catalog">ملاحظات</a>
					</li>					

					<li v-if="isUser && result.catalogNotification" >
						<a class="link" v-if="result.catalogNotification[result.catalogNotification.length-1]" :href="'/archive/'+result.catalogNotification[result.catalogNotification.length-1].data.catalog_id + '?notif=' + result.catalogNotification[result.catalogNotification.length-1].id ">المجلة</a>
						<a href="/archive/catalog" class="link" >المجلة</a>
						<span v-if="result.catalogNotification.length" class="notif inline-notif" >{{result.catalogNotification.length}}</span>
					</li>

					<li v-if="isSadmin">
						<a class="link" href="/sadmin">لوحة تحكم الموقع</a>
					</li>

					<li>						
						<a class="link" href="/me">{{name}}</a>
					</li>

					<li>
						<form action="/logout" method="POST" >
							<input type="hidden" name="_token" :value="token" >
							<button class="link">
								تسجيل خروج
							</button>
						</form>
					</li>

				</ul>
			</div>
		</div>

	</div>
</template>

<script>
	export default {
		props:[
			"name","token","isDesigner","isAdmin","isSadmin","id","completName","avatar","isUser"
		] ,        
		data() {
			return {
				notif:false,
				notificationsLength:0,

				hasMsgs:false,
				msgsLength:0,

				hasNotifications:false,
				countNotifications:0,
				displayed:false ,   

				result:{}       	                
			}
		},
		mounted(){
			this.startCheckingNotifications() ;
		},
		methods : {
			toggleMenu(){
				if(!this.displayed){
					window.setTimeout(function () {
						this.$http.post("/notifications/markasread") ;
					}.bind(this),3000) ;
				}
				this.displayed = !this.displayed ;
			} ,
			updateData(data){
				this.result = data ;

				let lng = data.notifications.length + data.msgs.length + data.catalogNotification.length;
				if(lng > 0){
					this.notif = true ;
					this.countNotifications = lng ;
				}
				else {
					this.notif = false ;
				}

				if(data.msgs.length > 0){

					this.hasMsgs = true ;
					this.msgsLength = data.msgs.length ;                    

				} else {
					// no msgs exist
					this.hasMsgs = false ;
				}

				if(data.notifications.length > 0){
					
					this.hasNotifications = true ;
					this.notificationsLength = data.notifications.length ;

				} else {
					// no msgs exist
					this.hasNotifications = false ;
				}
			},
			checkNotifications(){
				
				this.$http.get('/notifications').then(function (response) {
					this.updateData(response.data) ;
					// console.log(response.data) ;
					// if(response.data.msgs.length > 0){
					// 	this.$root.$emit("msgs-comming", response.data.msgs ) ;
					// }

				}.bind(this)) ;
			},
			startCheckingNotifications(){
				this.checkNotifications() ;
				window.setInterval(this.checkNotifications , 5000 ) ;
			}	
		}
	}
</script>