<template>
	<div class="msgs ckearfix" >
		<div v-for="(msg,index) in msgs">
			<div class="clearfix parent-msg">
				<div :class="'p-msg '+ msg.sideFloat +'-msg'" >
					<div class="msg">
						<span class="uab">{{msg.label}} :</span>
						<p>{{msg.content}}</p>
					</div>
					<div class="time">
						{{ msg.humanstime }}
					</div>
				</div>		
			</div>
			<div class="clearfix" v-if="msg.files" >
				<list-files is-designer="true" pfolder="upsmsgs" :files="msg.files" ></list-files>
			</div>
		</div>

		<div class="container-msg-textarea text-center clearfix">
			<div class="p-v-1" >
				<div class="clearfix"><label class="pull-right">أضف ملفًا</label></div>
				<div class="clearfix">
					<div class="form-group clearfix">
						<span class="btn-add-file inline pull-right m-b-1">
							استعراض الملفات
							<input @change="updateListFiles($event)" type="file" id="files" multiple />
						</span>
					</div>
					<div v-if="listFile"  class="clearfix">
						<div class="from-group text-right">
							<ul>
								<li v-for="f in listFile" >{{ f.name }}</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div><textarea v-model="msgcontent" class="custom-input-form text-right msg-textarea" placeholder="نص الرسالة ..." ></textarea></div>
			<div>
				<button @click="sendMessage()" class="btn btn-send">أرسل</button>
			</div>
		</div>

	</div>
</template>

<script>
	export default {
		props:["me","groupId","lastMsg","hasFollower","isDesigner","isAdmin"] ,
		mounted (){
			this.$root.$on("msgs-comming",function (msgs) {
				for(var e in msgs){
					if(msgs[e].group_id == this.groupId ){
						this.receiveMsgs() ;
						break ;
					}
				}

			}.bind(this));
		},		
		data() {
			return {
				msgs:[] ,
				msgcontent:null ,
				lastMsgData : this.lastMsg ,
				listFile : null
			}
		} , 
		methods : {
			receiveMsgs(){
				var prefix = this.isDesigner ? "/follow" : ( this.isAdmin ? "/admin"  : "") ;
				this.$http.get(prefix+"/conversations/"+this.groupId+"/msgs/" + this.lastMsgData).then(function (response) {					
					this.msgs = this.msgs.concat(response.data) ;
					if(response.data.length > 0){
						this.lastMsgData = response.data[response.data.length - 1].id ;
					}
				});
			} ,
			sendMessage(){

				if(this.msgcontent == null || this.msgcontent.trim() == "")
					return ;

				var prefix = this.isDesigner ? "/follow" : ( this.isAdmin ? "/admin"  : "") ;
				var formdata = new FormData() ;
				
				formdata.append("content",this.msgcontent) ;
				
				for(var i in $("#files")[0].files){
					formdata.append("files[]", $("#files")[0].files[i] ) ;
				}

				this.$http.post(prefix+"/conversations/"+this.groupId+"/msgs" , formdata ).then(function (response) { 
					this.msgcontent = "" ;
					this.receiveMsgs() ;
				});

			} ,
			updateListFiles(e){
				this.listFile = null ;
				Vue.nextTick(function () {
					this.listFile = e.target.files ;
				}.bind(this))
			}
		}
	}
</script>