<template>

	<span @click="toggle()" >

		<img v-if="c" src="/systemups/ch.png" style="max-width: 20px;" />
		<img v-else src="/systemups/unch.png" style="max-width: 20px;" />

		<input type="hidden" :name="'users['+user+']'" :value="c" :checked="c" style="display: none;" >

	</span>
	
</template>

<script>
	export default {
		props:["user","following"] ,
		data() {
			return {            	
            	c:this.following ,
            	toggling:false
            }
        } , 
        methods : {
        	toggle(){
        		if(!this.toggling) {        			
        			this.c = !this.c ;					
        		}
        	}
        }
    }
</script>