<template>
	<div class="form-add-new-msg" >
		<div v-if="showForm">
			<form :action="action" method="POST" >

				<div v-if="!isDesigner && !isAdmin">
					
					<div v-if="!hasFollower" class="info-message">
						رسالة للادارة
						<input type="hidden" name="target" value="admin" />
					</div>

					<div v-else class="form-group" >
						<select name="target" class="text-right custom-input-form">
							<option value="admin">الادارة</option>
							<option value="designer">المصمم</option>
						</select>
					</div>

				</div>
				<div v-else>
					<slot></slot>
				</div>

				<input type="hidden" name="_token" :value="token">
				<input type="hidden" name="_method" value="post">
				<div class="form-group"><input type="text" name="titlemsg" v-model="title" placeholder="عنوان الرسالة..." class="text-right custom-input-form"></div>
				<div class="form-group"><textarea rows="4" name="contentmsg" v-model="content" placeholder="نص الرسالة..." class="text-right custom-input-form"></textarea></div>
				
				<button class="btn btn-send" >
					ارسال
				</button>
				
			</form>
		</div>
		<button v-if="!showForm" class="btn btn-send" @click="showFormNewMsg" >
			رسالة جديدة
		</button>
	</div>
</template>

<script>
	export default {
		props:["hasFollower","ptitle","pcontent","pshowForm","isDesigner","toUser","action","isAdmin"],
		data() {
			return {
				showForm:(this.pshowForm || this.toUser) ,
				token:Laravel.csrfToken ,

				title:this.ptitle ,
				content:this.pcontent
			}
		} , 
		methods : {
			showFormNewMsg(){
				this.showForm = true ;
			}
		}
	}
</script>