<template>
    <span class="btn-add-file p-a-0 inline" >

	    <span class="btn simple-btn">إرسال نسخة جديدة</span>
	    <input name="catalog" @change="submit($event)" class="hidden-file-input" type="file" />

    </span>
</template>

<script>
    export default {       
        methods : {
            submit(e) {
            	e.target.form.submit() ;
            }
        }
    }
</script>
