<template>
	<div class="upload-file-block" >
		<div class="custom-input-form clearfix">
			<span class="lbl">{{lbl}}</span> <span class="btn btn-add-file" ><input multiple @change="uploadFile($event)" type="file" />استعراض</span>
		</div>
		<div v-if="showProgress" class="progressBar" >
			<div :style="{width: (statusProgress) + '%' }" class="in-progressBar"></div>
		</div>
		<div v-if="ErrorMessage" class="danger-message" >
			{{ErrorMessage}}
		</div>
    	<list-files ref="listFiles" :files="listups" />    	
    </div>
</template>

<script>
	export default {
		props:['lbl','generatedToken'] ,
		data : function(){
			return {
				listups:[] ,				
				showProgress : true ,
				statusProgress : 0 ,
				ErrorMessage:false
			}
		},
		methods : {
			uploadFile(e){         		

				var formData = new FormData() ;
				formData.append('generated_token',this.generatedToken) ;

				for (var i = 0; i < e.target.files.length; i++) {
					formData.append('files[]',e.target.files[i]) ;
				}

				this.$http.post('/events/files',formData,{
					progress : function(e){						
						this.statusProgress = (e.loaded / e.total) * 100 ;
					}.bind(this) ,
					before : function(){
						this.setProgress(true) ;
						this.showErrorMessage(false) ;
					}.bind(this)
				}).then(function (response) {
					this.$refs.listFiles.$emit("recieve-file" , response.data) ;					
					this.statusProgress = 0 ;
					this.setProgress(false) ;
				}.bind(this) ,function (response) {
					this.setProgress(false) ;
					if(response.status == 422){
						this.showErrorMessage("الملفات المدخلة يجب أن تكون من الأنواع التالية : bmp, mp4, jpeg, jpg, jpe, png, mov, avi.") ;
					}
				}.bind(this));

			} , 
			setProgress(s){
				this.showProgress = s ;
			} ,
			showErrorMessage(msg){
				this.ErrorMessage = msg ;
			}
		}
	}
</script>