<template>
	<div>
		<ul class="uploaded-files">
			<li v-for="(e,index) in listups" @click="modalThis(e,$event)" >
				<div v-if="e.file_type=='image'" class="helper-place-holder" :style="'background-image: url(/'+folder+'/'+e.src+');'">
					<img src="http://placehold.it/50x50" />
					<img src="/systemups/deleteicon.png" @click="deleteFile(index,e)" class="delete-icon" v-if="!isDesigner" >
				</div>

				<div v-else class="helper-place-holder" >
					<img src="/systemups/deleteicon.png" @click="deleteFile(index,e)" class="delete-icon" v-if="!isDesigner" >
					<video width="50" height="50" controls="false">
						<source :src="'/'+folder+'/'+ e.src " type="video/mp4" >
						</video> 
					</div>
				</li>
			</ul>			
		</div>
	</template>

	<script>
		export default {
			props:["files","isDesigner","pfolder"] ,
			data(){
				return {
					listups:this.files ,
					folder: this.pfolder || 'upsevents' ,
					showingFile:null ,
				}
			},
			mounted() {				
				this.$on("recieve-file",function (files) {
					this.listups = this.listups.concat(files) ;
				}) ;
			} , 
			methods : {
				deleteFile(index , e){
					this.$http.delete("/events/files/" + e.id ).then(function (response) {
						this.listups.splice(index,1) ;
					});
					e.preventDefault() ;
				} ,
				modalThis(f,e){
					window.open("/"+this.folder +"/"+f.src) ;					
					e.preventDefault() ;
				}
			}
		}
	</script>