<template>
	
	<div class="container-btn-subscribe" >
		<button class="btn-subcribe btn" @click="open()" >
			اشتراك
		</button>
	</div>

</template>

<script>
	export default {
		props:["price"] ,
		methods : {
			open(){				
				this.$emit("openmodal",{price:this.price}) ;
			}
		}
	}
</script>