<template>
	<form action="/follow/catalogs" method="POST" enctype="multipart/form-data" >
		
		<input type="hidden" name="_method" value="post" />
		<div v-if="showForm">
			<div class="form-group">
				<label >العميل</label>
				<select @change="updateEvents" v-model="target" name="customer" class="custom-input-form">
					<option v-for="user in users" :value="user.id" >{{user.name}}</option>
				</select>
			</div>
			<div class="form-group">
				<label>الأحداث</label>
				<ul class="events-to-design" >
					<li v-for="ev in events" >
						<custom-check-box :name="'events['+ ev.id +']'" :ischecked="true" />
						{{ev.title}}
					</li>
				</ul>
				<div v-if="events.length==0" class="danger-color p-r-2" >
					لا يملك أية أحداث
				</div>
			</div>
			<div class="form-group">
				<label >المجلة</label>
				<div class="m-t-2" >
					<span class="btn-add-file simple-btn">
						<input name="catalog" type="file" class="btn-add-file">
						اختيار المجلة
					</span>
				</div>
			</div>
			<div class="form-group text-center">
				<input type="submit" value="ارسال" class="btn simple-green-button" />
			</div>
		</div>
	</form>
</template>

<script>
	export default {
		props:["to"],
		data() {
			return {
				target:this.to ,
				users:[] ,
				events:[] ,
				showForm:false
			}
		} , 
		mounted(){			
			this.$http.get("/follow/users/json").then(function (response) {
				this.users = response.data ;				
				this.showForm = true ;
				Vue.nextTick(function () {
					this.updateEvents() ;
				}.bind(this));
			});
		},
		methods : {
			updateEvents(){
				if(this.target)
					this.$http.get("/follow/users/"+this.target+"/events").then(function (response) {
						this.events = response.data ;
					});
			}
		}
	}
</script>
