.name-wbesite {
	padding: 6px 6px 8px 8px;
	font-weight: 700 ;
	color: #fff ;
	font-size: 22px;	
}

body {
	font-family: 'ubuntu arabic' ;
}

.custom-logout-form {	
	color: #a4aebb ;
}

.avatar-user-in-sadminpage {
	width: 200px;
	margin: 1em ;
	border-radius: 2px ;
}

.desc.font-size-14 {
	font-size: 14px !important;
}
.number.font-size-16 {
	font-size: 19px !important;	
}
.search-container {
	padding-top: 24px;
}