$with-add-event-form : 610px ;

$primary-color : #5C94CD ;

$secondary-color : #4D4D4D ;

$info-color : #2FAAAD ;

$background-body : #f2f2f2 ;

$background-navbar : #ffffff ;

$width-content-page : 900px ;

$default-color : #999999 ;

$danger-color : #E74C3C ;

$success-color : #2Ecc71 ;


$light-default-color : #666 ;

$with-textarea-newmsg : 600px; 

$border-color-errors : #466578 ;

$selected-row-backcolor : #f9f9e5 ;

$width-menu : 872 ;

$break-point : $width-menu + px ;
