// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap" ;


// mixins
@import "mixins";


.home-page {
	background-color: #fff ;
}

@import "./mainheader" ;

.link-login {
	text-transform: lowercase;	
	.sml-avatar-in-menu-auth {
		width: 35px;
		height: 35px;		
		object-fit: cover;
		border-radius: 100%;		
		margin-left: 5px;
		margin-top: -1px;
		display: inline-block;
	}
	border-radius: 22px;
	@include back-button ;
	
	color:#fff ;

	width: 91px ;
	height: 42px;
	padding: 0px ;
	
	display: flex ;
	justify-content:center;
	align-items:center;
	color: #fff !important ;
	& , &:focus , &:hover {
		@include back-button ;
	}
	.lbl-username {
		text-overflow: "…";
		display: inline-block;
		max-width: 43px;
		overflow: hidden;
	}
}

.show-in-desktop {
	display: block;
	@media (max-width: $break-point ) {
		display: none !important;
	}
}

.show-in-mobile {
	display: block;	
	@media (min-width: $break-point +1 ) {
		display: none !important;
	}
}

// slide 

.slide {
	.in-slide {
		@include helper-background() ;	
		.hlpimg {
			opacity: 0;
		}
		text-align: center;
		p {
			font-size: 21pt ;
			color: $primary-color ;
			line-height: 1.8 ;
			.subscribe-button {
				text-decoration: none;
				background: $primary-color;
				color: #fff ;
				
				padding: 13px 87px ;
				margin: 2em auto ;
				max-width: 300px;

				display: block;
				border-radius: 33px;
				border: 0px solid ;
				margin-top: 22px;
				font-size: 16pt ;
				font-weight: 400 ;
				@include back-button(#3A6AB2 , #5B92CC) ;
			}

			@media ( max-width: 480px) {
				font-size: 15pt ;
				.subscribe-button {
					font-size: 11pt ;
					padding: 8px 30px ;
				}
			}
		}
	}

}

.features {
	.features-boxs {
		max-width: $width-content-page;
		margin: 0px auto ;
		> div {
			min-height: 300px;
			text-align: center;
			padding-bottom: 2em ;
			.secondary-title {
				color : $secondary-color ;
				padding: 10px 2px ;
				font-size: 15pt ;
			}
			img {
				max-width: 88px;
			}
			font-size: 13pt ;
		}
	}
}

.works {
	// overflow:hidden;
	.works-boxs {
		max-width: $width-content-page;
		margin: 0px auto ;
		// display: flex;
		// align-items: center;
		border-radius: 14px ;
		overflow: hidden;
		.work {			
			text-align: center;
			.container-img {
				margin: 0px auto ;
				position: relative;
				border-radius: 8px;
				overflow: hidden;
				margin-bottom: 5px;
				// max-width: 194px;
				@include helper-background ;				
				img {
					width: 100% ;
					opacity: 0 ;
				}
				.description-work {
					display: block;
					width: 100% ;
					$height-desc : 70px ;
					transition: bottom 0.3s ;
					@include back-button(#3A6AB2 , #5B92CC) ;
					
					position: absolute;
					bottom: -$height-desc;
					
					width: 100% ;
					height: $height-desc;
					
					p {
						color: #fff ;
						font-size: 12pt ;
						padding: 0.4em ;
						height: 100% ;
						display: flex ;
						justify-content:center;
						align-items:center;
					}
				}
				&:hover {
					.description-work {
						bottom: 0px;
					}
				}

			}
		}		
	}
}

.subsribe {
	.subsribe-box {
		max-width: 100% ;
		width: 850px ;
		margin: 0px auto ;		
		> div {
			
			float: right;
			padding: 0.5em ;
			height: 500px ;
			padding-top: 3em ;
			width: 33.33%;
			
			.info-subscribe  {
				border-radius: 5px;
				overflow: hidden;
				width: 100% ;
				margin: 0px auto ;
				background-color: #F1F1F1 ;
				border: 1px solid #D4D4D4 ;
				position:relative;
				.title-subscibe {
					font-size: 14pt ;
					text-align: center;					
					padding: 0.6em ;
					line-height: 1.5 ;
					color :#fff ;					
					margin-top: 0px !important;
					
				}
				.price-subcribe {
					padding: 1em ;
					text-align: center;
					color: #D05B00 ;
					font-size: 13pt ;
				}
				.ul-other-attrs {
					padding: 0px;	
					list-style-type: none;
				}
				.other-attr {
					color: #666666 ;
					font-size: 10pt ;
					padding: 1em ;	
					&:before {
						content: "";
						background: #D05B00;
						font-size: 18px;
						display: inline-block;
						height: 8px;
						width: 8px;
						border-radius: 100%;
						margin-left: 5px;
					}
				}
				.container-btn-subscribe {
					text-align: center;
					padding: 1.7em 0.7em ;
					.btn-subcribe {
						padding: 10px 47px;
						border-radius: 5px;
						color: #fff ;
						font-size: 11pt ;
						background-color: #ffd43d;
						border: 1px solid #815627;
						color: #333333;
						border-bottom: 4px solid #815627;
					}
				}
				.top-div {
					background-color: #0171BC ;
				}
			}

			&.popular {
				// .title-subscibe { 
				// 	color: $primary-color ;
				// }
				// .container-btn-subscribe {
				// 	// .btn-subcribe {
				// 	// 	// @include back-button(#3969B2,#588FC9) ;
				// 	// } 
				// }
				// .price-subcribe {
				// 	@include back-button(#3969B2,#588FC9) ;
				// }

				.img-popular {
					position:absolute;
					right: -4px;
					top: -4px;
					height: 98px;
					z-index: 5;
				}
			}

			& {
				@media (max-width: 860px) {
					width: 100% !important ;
				}
			}
		}
	}
	.container-add-file-button {
		background-color: #fff ;
		border-radius: 1em;
		padding: 0.4em ;
		@include m-h(auto) ;
		max-width: 250px;
		.btn-add-file{
			float: left;
		}
	}
	.lbl {
		float: right;
		@include p-v(0.7em) ;
	}

	// .in-subsribe-box {

	// }
}

.footer {
	@include back-button(#3A6AB2 , #588EC9 ) ;
	p {
		margin-bottom: 0px ;
		text-align: center;
		color: #fff ;
		font-size: 18pt ;
		padding: 35px ;
		.yellow-span {
			color: #FFCC00 ;
			text-decoration: none;
		}
	}

	.hr-before-social {
		margin: auto !important ;
		max-width: 220px;		
	} 

	.social {
		
		text-align: center;
		padding: 15px;
		a {
			i {
				font-size: 22px;
				color: #FFCC00 ;
			}
		}
	}

}

.content-subscribe-page {
	padding-top: 1em ;
	padding-bottom: 3em ;
	.subsribe {
		max-width: 800px !important;
		margin: auto ;
	}
}

.container-avatar {
	position: relative;
	background-position: center;
	background-size: cover;	
	max-width: 100%;
	display: inline-block;
	border-radius: 100% ;
	margin: 1em ;
	.avatar {
		max-width: 170px;
	}
	.hp {
		opacity: 0 ;
		width: 100%;
	}
}

.log {
	padding-top: 1em ;
	form {
		max-width: 240px;
		margin: auto ;
	}
	a {
		text-decoration: none;
		font-size: 11pt ;
		color: $primary-color ;
	}
	form.register {
		max-width: 580px;
		margin: auto ;

		.custom-input-form {
			text-align: right;
		}
		.container-button {
			max-width: 100% ;
			width: 250px;
			margin: 2em auto ;
		}
	}
	.container-forgot {
		text-align: center;		
	}
	.container-button {
		padding-top: 1em ;		
		text-align: center;
		button {
			padding: 1em 3em ;
			@include back-button(#3A6AB2 , #588EC9 ) ;
			border-radius: 22px ;
			border: none;
			color: #fff ;
			display: block;
			width: 100% ;
		}
	}

	.container-avatar {
		width: 120px;		
	}
}

.dropdown-menu-auth {
	position: relative;
	.notif {
		background: #E74C3C ;
		position: absolute;
		top: -5px;
		right: -5px;		
		display: block;
		padding-top: 3px;
		font-size: 10px;
		border-radius: 100%;
		color: #fff;
		width: 22px;
		height: 22px;
		text-align: center;
		&.inline-notif {
			position: static;
			left: 2px;
			right: auto;
			float: left;
		}
	}
	.menu-auth {
		display: none;
		position: relative;
		.in-menu-auth  {
			top: 20px ;
			position: absolute;
			$vv : 10% ;
			left: -$vv /2 ;
			width: 100% + $vv ;
			
			// min-width: 150px;
			@media (max-width: $break-point) {			
				min-width: 150px;
				width: 80% ;
				left: 10% ;				
			}

			z-index: 150 ;
			background: #444444 ;
			padding: 1em;
			border-radius: 8px ;
			
			&:before {
				content: url(./../systemups/toparrowmenu.png);
				position: absolute;				
				
				top: -11px;
				left: 50%;
				@media (max-width: $break-point ) {
					left: 30px ;
				}
				margin-left: -25px;
			}

		}
		.list-menu {
			list-style: none;
			padding: 0px ;
			margin: 0px ;
			li {
				margin: 0px ;
				display: block;
				form {
					margin: 0px ;
					padding: 0px ;
					display: block;
				}
				a , button {
					padding-top: 10px ;
					padding-bottom: 10px ;
					line-height: 2;
				}
			}
		}
		.link {
			color: #fff !important;
			background-color: transparent;
			border: 0px solid ;			
			text-decoration: none;

			padding: 2px 0px !important;
			display: inline-block;
		}
		&.displayed {
			display: block;
		}

	}
}

// dashboard user 


.user-dashboard {
	.boxs {
		width: 630px ;
		max-width: 100% ;
		padding: 13px 1em 1em 1em ;

		margin-left: auto ;
		margin-right: auto ;

		.box {
			a {
				display: block;
			}
			float: right;
			padding: 0.5em ;
			padding-top: 20px ;

			img {
				width: 100% ;			
			}
			width: 50% ;
			@media (max-width: 600px) {
				width: 100% ;
			}
		}
	}
}

// create event 

.create-event {
	width: $with-add-event-form ;
	max-width: 100% ;
	padding: 1em ;
	padding-top: 35px;
	margin-left: auto ;
	margin-right: auto ;	
	.side-images {
		border-left: 1px dashed #9d9d9d;
		padding-left: 1em ;
		@media (max-width: 600px) {
			border : 0px solid ;
			padding-left: 0em ;
		}
	}
	.side-video {
		padding-right: 1em ;
		@media (max-width: 600px) {			
			padding-right: 0em ;
		}
	}
	.side-video , .side-images {
		float: right;
		width: 50% ;
		margin-bottom: 1em ;
		@media (max-width: 600px) {
			width: 100% ;
		}

		.custom-input-form {
			padding: 0.6em ;
		}		
	}
	.btn-send-event {		
		@include back-button(#44AB44 , #8EC754) ;		
		padding: 0.8em 3em ;
		border-radius: 30px;
	}
}

.uploaded-files {
	padding: 0.6em;
	list-style: none;
	text-align: center;
	li {
		max-width: 50px;
		display: inline-block;
		margin: 3px;
		img {
			max-width: 100%;
		}
	}
}

.btn-add-file {
	vertical-align: middle;
	position: relative;
	border: 0px solid;
	border-radius: 26px;
	padding: 0.8em 1em;
	overflow: hidden;
	color: #fff ;
	input {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0px;
		right: 0px;
		opacity: 0;
	}
	&.inline {
		display: inline-block;
	}
}

.custom-input-form {
	.btn-add-file {
		display: block;
		float: left;
		@include back-button(#3e6eb4,#5b92cc) ;		
	}
	.lbl {
		padding: 0.8em 1em ;
		color: #666 ;
		float: right;
	}
}

.helper-place-holder {
	position: relative;
	border-radius: 11px ;	
	.delete-icon {
		position: absolute;
		top: -7px ;
		left: -7px ;
	}
	@include helper-background() ;
	img {
		opacity: 0 ;
	}
	.delete-icon {
		opacity: 1 ;
		width: 20px;
	}
}

// msgs 
.msgs-page {
	.msgs-container{
		max-width: 840px;
		margin-left: auto ;
		margin-right: auto ;
		padding-left: 1em ;
		padding-right: 1em ;
		.container-msg-textarea {
			padding: 1em ;
			width: $with-textarea-newmsg;
			max-width: 100%;
			margin-left: auto ;
			margin-right: auto ;
			.msg-textarea {
				max-width: 100%;
				margin-bottom: 1em ;
			}
			.btn-add-file {
				@include back-button(#3A6BB3,#5991CB) ;
			}
		}

	}
	.btn-send {
		color: #fff ;
		border-radius: 28px;
		padding: 0.8em 3em;
		@include back-button(#43aa43,#8fc754) ;
	}
	.form-add-new-msg {
		margin-top: 1em ;
		padding-bottom: 2em ;
		form {			
			width: $with-textarea-newmsg;
			margin-left: auto ;
			margin-right: auto ;
		}		
	}
	.msgs {
		.parent-msg {
			margin-top: 0.5em ;
		}
		.msg{
			background: #fff ;
			padding: 1em ;
			border-radius: 22px;
		}
		.right-msg {
			float: right ;
		}
		.left-msg {
			float: left ;
		}
		.p-msg {
			.time {
				text-align: left;
				font-size: 12px;
				padding-left: 1.5em ;
			}
		}
	}
}

.simple-table {
	background: #fff ;
	border-radius: 30px;
	margin-bottom: 0px;
	& , a { 
		color: $light-default-color;
	}
	a:hover { 
		color: $primary-color ;
	}
	thead {		
		tr {
			font-weight: 700 !important ;
			td:first-child {
				border-top-right-radius: 15px;
			}
			td:last-child {
				border-top-left-radius: 15px;
			}
		}
	}
	tbody {
		tr:last-child {
			td:first-child {
				border-bottom-right-radius: 15px;
			}
			td:last-child {
				border-bottom-left-radius: 15px;
			}
		}
	}
	tr {
		td {
			padding: 1.1em 0.6em !important;
			text-align: center;
			border: 0px solid !important;
		}
		&:nth-child(2n) {
			background-color : #f9f9f9 ;
		}
		&:nth-child(n) {
			background-color : #fff ;
		}
	}	
}

.follow {
	&.follow-one {
		.title.custom2 {
			$v : 20px;
			border-top-right-radius: $v ;
			border-top-left-radius: $v ;
			$v : 0.8em ;
			padding-top: $v ;
			padding-bottom: $v ;

			background: #fff ;
			color: $light-default-color ;
			font-size: 17px;
		}
	}
	.btn-send-catalog {
		@include back-button(#3a6bb3 , #5a92cc) ;
		padding: 0.4em 0.8em ;
		border-radius: 2em ;		
		color: #fff ;
		font-size: 14px ;
	}
}

.users {
	.btn-activate {
		@include back-button(#3a6bb3 , #5a92cc) ;
		border-radius: 18px ;		
	}
	.is-active {
		color: $info-color ;
	}
}

.show-event {
	.btn-contact {
		@include back-button(#3a6bb3 , #5a92cc) ;
		border-radius: 2em ;
		padding: 0.8em 1em ;		
	}
}

.send-catalog {
	.events-to-design {
		list-style-type: none;
		li {
			margin-bottom: 0.4em ;
		}
	}
}

.list-notes {
	list-style-type: none;
	padding: 0px;
	li {
		margin-top: 5px ;
		div {
			padding: 0.6em ;
		}
	}
}

.errors-page {
	height: 100vh ;
	background-color: #E3E6E7 ;
	.container-errors {		
		height: 100vh ;		
		display: flex ;
		justify-content:center;
		align-items:center;
		.error {
			legend {
				margin: 0 ;				
				display: inline-block !important;
				width: inherit;
				background-color: #E3E6E7 ;
				padding: 0em 1em ;
				color: $border-color-errors !important;
			}
			h1{
				font-size: 12em ;	
				margin: 0px;			
			}
			color: $border-color-errors ;
			border: 4px solid #466578;			
			border-radius: 1em;
			padding: 0px 6em;
		}
		.p-error {
			color: $border-color-errors ;
			padding: 1em ;
			a {
				& , &:hover , &:active {
					color: #658EBC ;
				}
			}
		}
	}	
}

.upload-file-block {
	.progressBar {
		overflow: hidden;		
		display: block;
		width: 100% ;
		padding: 1em ;
		.in-progressBar {
			height: 2px ;
			background-color: $primary-color;
		}
	}
}
