.main-header {
	background: $background-navbar ;	
	.logo-section {	
		text-align: center;
		padding-top: 18px;
		.logo {
			max-width: 140px ;			
		}
	}

	.menu-1 {
		font-size: 0px ;
		margin: 0px;
		padding: 0px ;
		text-align: center;
		list-style-type: none;
		font-weight: 700 !important ;
		> li {
			display: inline-block;
			font-size: 14px ;
			vertical-align: middle;
			text-align: center;
			@media (max-width: $width-menu + px ) {
				display: block ;
				&.parent-menu-2 {
					display: none !important;
				}
				&.parent-menu-2.open-menu {
					display: block !important;
				}
			}
		}
	}

	.menu-2 {
		@extend .menu-1 ;
		> li {			
			padding: 0em 2.5em ;
			> a.link-menu-2 {
				padding: 1.1em .5em 1.3em .5em;
				display: inline-block;
				text-decoration: none !important;
				outline: 0px solid !important;
				&.active {
					border-bottom: 3px solid #5C94CD ;
				}
			}
		}
	}

	.menu-item-auth {
		.btn-toggle-menu {
			display: none;
			float: right;
			margin: 0.6em ;
			border: 0px solid ;
			background-color: transparent;
			color: $primary-color ;
			font-size: 18px;
		}
		@media (max-width: $width-menu +px ) {
			padding: 0.6em ;
			> .button-auth {
				float: left !important;
			}
			> .btn-toggle-menu {
				display: block !important;
			}
		}
	}

}

