
@mixin p-v($v,$i : null){
	padding-top: $v $i;
	padding-bottom: $v $i;
}

@mixin p-h($v,$i : null){
	padding-left: $v $i;
	padding-right: $v $i;
}

@mixin m-v($v,$i : null){
	margin-top: $v $i;
	margin-bottom: $v $i;
}

@mixin m-h($v,$i : null){
	margin-left: $v $i;
	margin-right: $v $i;
}

@mixin m-a($v,$i:null){
	@include m-v($v,$i) ;
	@include m-h($v,$i) ;
}

@mixin p-a($v,$i:null){
	@include p-v($v,$i) ;
	@include p-h($v,$i) ;
}

$j : 0 ;
@while $j < 3 {
	
	$i : $j ;
	$ilbl : $j + "" ;

	$index : str_index($ilbl,".") ;

	@if $index {
		$hi : $j - ($j % 1) ;
		$ilbl : str_insert(str_slice( $ilbl , $index +1, $index+2 ), $hi + "" ,$index - 1) ;
	}
	
	// vertical
	.m-v-#{$ilbl} {
		@include m-v($i + em) ;
	}
	.p-v-#{$ilbl} {
		@include p-v($i + em) ;
	}
	// horizontal
	.m-h-#{$ilbl} {
		@include m-h($i + em) ;
	}
	.p-h-#{$ilbl} {
		@include p-h($i + em) ;
	}
	
	.p-b-#{$ilbl} {
		padding-bottom: $i + em ;
	}.p-t-#{$ilbl} {
		padding-top: $i + em ;
	}.p-l-#{$ilbl} {
		padding-left: $i + em ;
	}.p-r-#{$ilbl} {
		padding-right: $i + em ;
	}

	.m-b-#{$ilbl} {
		margin-bottom: $i + em ;
	}.m-t-#{$ilbl} {
		margin-top: $i + em ;
	}.m-l-#{$ilbl} {
		margin-left: $i + em ;
	}.m-r-#{$ilbl} {
		margin-right: $i + em ;
	}


	.m-a-#{$ilbl} {
		@include m-a($i + em,!important) ;
	}
	.p-a-#{$ilbl} {
		@include p-a($i + em,!important) ;
	}


	$j : $j + 0.5;

}

@mixin helper-background {
	background-position: center;
	background-size: cover ;
	background-repeat: no-repeat;
}

@mixin back-button($a:#3a6bb3 ,$b:#5a92cc){ 
	background: linear-gradient(-90deg , $a , $b )  !important;
	color: #fff ;
	outline: 0px solid !important;
}

@mixin helper-border(){
	position: relative;
	&:after {
		content: " " ;
		display: block;
		position: absolute;
		bottom: 0px ;
		height: 4px ;
		right: 0px ;
		left: 0px;
		@include back-button(#3a6bb3 , #5a92cc) ;
	}
}
@mixin dock(){
	width: 100% ;
	height: 100% ;
}

/*==============================
=            colors            =
==============================*/

.danger-color {
	color: $danger-color ;
}
.info-color {
	color : $info-color ;
}

/*=====  End of colors  ======*/


/*================================
=            Messages            =
================================*/
.message {	
	padding: 1em 0.4em;
	border-right: 2px solid;
	
	margin-bottom: 1em;
	margin-top: 1em;

	background: #fff;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}
.danger-message {
	@extend .message ;
	color: $danger-color ;	
}
.info-message {	
	@extend .message ;
	color: $info-color ;
}
.success-message {
	@extend .message ;
	color: $success-color ;		
}

/*=====  End of Messages  ======*/

/*==================================
=            Components            =
==================================*/
.title {
	color: $primary-color ;
	font-size: 18pt ;
	text-align: center;
	padding: 1pt ;
	font-weight: 700 ;
	margin-bottom: 50px ;
}
a {
	text-decoration: none;
	color: $light-default-color ;
	&:hover {
		color: $primary-color ;
	}
}

body {	
	font-family: 'ubuntu arabic' ;
	font-weight: 400 ;
	font-kerning: none;
	background: $background-body ;
}
.small-container {
	max-width: $with-add-event-form;
	margin-left: auto ;
	margin-right: auto;
	@include p-v(2em) ;
}
.container-table {
	max-width: 860px;
	margin-left: auto ;
	margin-right: auto;
	margin-top: 1em ;
}
.table-container {
	border-radius: 20px;
	overflow: hidden;
}
.focusing {
	background-color: $selected-row-backcolor !important ;
}
.custom-input-form {
	resize:none;
	outline: none;
	border: 1px solid transparent ;
	border-radius: 15px ;
	padding: 1.2em ;
	text-align: center;
	background: #fff ;
	display: block;	
	width: 100% ;
	transition : border 0.3s ;
	color: $default-color ;
	&:focus {
		box-shadow: none;		
		border: 1px solid $primary-color ;
	}
	&.text-right {
		text-align: right;
	}

	&.text-left {
		text-align: left;
	}	
}
select.custom-input-form {
	padding:0.8em 1.2em ;
	border-radius: 18px;
}
.simple-link {
	color: $primary-color ;
	font-size: 13pt ;
}

a.info-link {
	color: $info-color !important;
	font-size: 11pt ;
	&:hover {
		color: $primary-color !important;
	}
}

.non-decoration {
	& , &:hover , &:active {
		text-decoration: none;
	}
}

.simple-btn {
	@include back-button;
	padding: 0.8em 1.2em ;
	color: #fff ;
	border-radius: 2em ;
	&:hover {
		color: #fff ;
	}
}
.simple-green-button {
	@extend .simple-btn ;
	& , &:active , &:focus {
		@include back-button(#43aa43,#8fc754) ;
	}
}

/*=====  End of Components  ======*/


/*==============================
=            Modals            =
==============================*/
.modal-content {
	border-radius: 1px ;
	.head {
		padding: 1em ;		
	}
	.custom-modal-body {
	}
}

/*=====  End of Modals  ======*/
