<template>    
	<ul class="list-group">

		<li v-for="(attribute,index) in Cattrs" class="list-group-item">

			<div class="input-group">
				<span class="input-group-addon input-circle-left" @click="deleteThis(index)" >
					<i class="fa fa-times"></i>
				</span>
				<input class="form-control input-circle-right" type="text" name="data[]" :value="attribute" >
			</div>

		</li>
		<li class="list-group-item text-center" >
			<div class="form-group"><button @click="Add" type="button" class="btn btn-primary btn-sm"><i class="fa fa-fw fa-plus"></i> اضافة</button></div>
		</li>
	
	</ul>
</template>

<script>
	export default {
		props:['attrs'],
		data(){
			return {
				Cattrs:this.attrs
			}
		},
		methods : {
			deleteThis(index){				
				this.Cattrs.splice(index , 1) ;
			} ,
			Add(){
				this.Cattrs.push("") ;
			}
		}
	}
</script>