<template>
	<div>
		
		<label>

			<input type="checkbox" v-model="changepassword" name="changepassword" />
			تغيير كلمة المرور 

		</label>

		<div v-if="changepassword" class="clearfix" >
			<div class="col-xs-12 col-md-6 pull-left">
				<div class="form-group">
					<label>كلمة المرور</label>
					<input type="password" class="form-control" name="password" >
				</div>
			</div>
			<!-- password confirmation -->
			<div class="col-xs-12 col-md-6 pull-left">
				<div class="form-group">
					<label>تاكيد كلمة المرور</label>
					<input type="password" class="form-control" name="password_confirmation" >
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	export default {		
		data() {
			return {
				changepassword:false
			}
		}
	}
</script>