<template>
	<div class="row" >
		<div class="clearfix">
			<div v-for="(c,ckey) in model" v-if="!hide[ckey]" class="col-xs-12 col-sm-4" >
				<div class="form-group">
					<label>{{ label(ckey) }}</label>
					<input v-model="model[ckey]" :name="ckey" type="text" class="form-control" />
				</div>
			</div>
			<input :data-init='updateModelValue(ckey)' v-else v-model="model[ckey]" :name="ckey" type="hidden" class="form-control" />			
			<div class="col-xs-12 col-sm-4" >
				<div class="form-group search-container row">
					<div class="col-xs-6">
						<button @click="update()" class="btn btn-block btn-primary"><i class="fa fa-fw fa-search"></i> بحث</button>    				
					</div>
					<div class="col-xs-6">
						<button @click="rest()" class="btn btn-block btn-default"><i class="fa fa-fw fa-undo"></i> إلغاء</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	export default {
		props:{
			model:Object,
			table:String,
			hide :{
				type:[Object],
				default:function () {
					return {} ;
				}
			}
		},
		methods : {
			label(e){
				if(window.cd[this.table] && window.cd[this.table][e])
					return window.cd[this.table][e] ;
				return window.cd[e] ;
			} ,
			update(){
				this.$emit("update");
			},
			rest(){
				this.$emit("rest");
			} ,
			updateModelValue(ckey){
				this.model[ckey] = this.hide[ckey] ;
				return "" ;
			}
		} ,
		mounted(){
			console.log(this.hide) ;
		}
	}
</script>