<template>
	<div class="clearfix">
		<div class="text-center">
			<ul class="pagination">
				<li v-for="p in data.last_page" :class="{'active':data.current_page == p}" >
					<!-- :class="{'disabled':data.current_page == p}" -->
					<span v-if="data.current_page == p"  >{{ p }}</span>
					<a v-else @click="getPage(p)">{{p}}</a>
				</li>
			</ul>
		</div>
	</div>
</template>

<script>
	export default {
		props:["model","page","json"] ,
		mounted (){
			this.getPage(this.page) ;
			this.$parent.$on("fireUpdateData",function () {
				console.log("fin update ") ;
			});
		},
		data(){
			return {
				data:[]
			}
		},
		methods : {
			getPage(p){				
				this.$http.post("/sadmin/json/" +this.json +"?page=" + p ,this.model).then(function (response) {
					this.data = response.data ;
					this.$emit("data",response.data) ;            		
				}.bind(this)) ;
			}
		}
	}
</script>